html {
  font-size: 18px;
  line-height: 1.4;
}
body {
  font-family: Helvetica;
}
.container {
  max-width: 960px;
  margin: auto;
}

/* Header Section ------------------------*/
header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding: 1rem 0;
}
.logo {
  background-color: cadetblue;
  color: white;
  display: flex;
  display: flex;
  align-items: center;
}
.logo img {
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}
nav {
  flex-grow: 1;
  text-align: right;
}
nav li {
  display: inline-block;
  padding: 1rem 2rem;
}
header .flex {
  justify-content: flex-end;
}
.flex {
  display: flex;
}
.main-banner {
  background-color: white;
  padding: 1.5rem 5rem;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
  line-height: 1.2;
  font-weight: bold;
  font-size: 2rem;
}

/* Service Section ----------------------------------*/
.supporting {
  display: flex;
  justify-content: center;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}
.service .exam {
  width: 3.5rem;
}
.service img {
  width: 5rem;
  margin-bottom: 1rem;
}

/* Info Section ---------------------------------------*/
.information {
  display: flex;
}
.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
}
.title {
  font-weight: bold;
  background-color: cadetblue;
  color: white;
  max-width: 10rem;
  padding: 0.5rem 1.25rem;
}
.info p {
  padding: 1rem 0;
}

/* Footer -----------------------------------------------*/
footer {
  background-color: azure;
  padding: 4rem 4rem;
  display: flex;
  align-items: center;
}
footer img {
  height: 1.5rem;
  padding-right: 1rem;
}
