html {
  font-size: 18px;
  line-height: 1.4;
}
body {
  font-family: Helvetica;
}
.container {
  max-width: 960px;
  margin: auto;
}

/* Header Section ------------------------*/
header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding: 1rem 0;
}
.nav-bar {
  background-color: cadetblue;
  color: white;
  display: flex;
  display: flex;
  align-items: center;
}
.nav-bar img {
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}
nav {
  flex-grow: 1;
  text-align: right;
}
nav li {
  display: inline-block;
  padding: 1rem 2rem;
}
.mobile-nav {
  display: none;
}
header .flex {
  justify-content: flex-end;
}
.flex {
  display: flex;
}
.main-banner {
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
}
.main-banner h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
}

/* Service Section ----------------------------------*/
.supporting {
  display: flex;
  justify-content: center;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}
.service .exam {
  width: 3.5rem;
}
.service img {
  width: 5rem;
  margin-bottom: 1rem;
}

/* Info Section ---------------------------------------*/
.information {
  display: flex;
}
.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
}
.title {
  font-weight: bold;
  background-color: cadetblue;
  color: white;
  max-width: 10rem;
  padding: 0.5rem 1.25rem;
}
.info p {
  padding: 1rem 0;
}

/* Footer -----------------------------------------------*/
.footer-container {
  background-color: azure;
  padding: 4rem 4rem;
  display: flex;
  align-items: center;
}
footer img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* Tablet Query ----------------------------------------*/
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
  header {
    padding-top: 0;
    height: 22rem;
  }
  .main-banner {
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
  }
  .main-banner h1 {
    font-size: 1.33rem;
  }
  .information {
    justify-content: center;
  }
}

/* Mobile Query ------------------------------------------*/
@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    margin: 0;
  }
  header {
    height: 17rem;
    background-position: 20%;
  }
  .nav-bar span {
    display: none;
  }
  nav ul {
    display: none;
  }
  .mobile-nav {
    display: block;
    text-align: center;
  }
  .flex {
    display: inline-block;
  }
  .main-banner {
    margin-top: 9rem;
    margin-right: 0;
    margin-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .main-banner h1 {
    font-size: 1rem;
    text-align: center;
  }
  .supporting {
    flex-direction: column;
    margin: 3.77rem auto;
  }
  .service {
    display: block;
    margin: 0 auto 1.54rem auto;
    font-size: 0.77rem;
    height: auto;
  }
  .information {
    display: inline-block;
  }
  .info {
    width: 100%;
    margin: 0 0 4rem 0;
  }
  .title {
    max-width: 100%;
    text-align: center;
  }
  .info p {
    padding: 1rem 0;
    font-size: 0.77rem;
  }
  .footer-container div {
    display: none;
  }
  .footer-container {
    justify-content: center;
  }
}
